@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
	height: 100vh;
	box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.tooltip-trigger {
	cursor: default;
	user-select: text;
}

.sweet-loading {
	transform: scale(
		0.4
	); /* Skaliert den gesamten Loader auf die Hälfte seiner Größe */
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.glowing-border-div {
	padding: 5px 10px;
	border-radius: 30px;
	color: black; /* Textfarbe */
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	position: relative;
	z-index: 2;
	user-select: none;
	display: inline-block;
}

.glowing-border-div::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: rgb(241, 241, 241);
	border-radius: 30px;
}

.glowing-border-div::after {
	content: '';
	position: absolute;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px; /* Größe des Glüheffekts */
	z-index: -2;
	background: conic-gradient(
		from var(--a),
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00ab,
		#ff0000
	);
	background-size: 100% 100%;
	border-radius: 30px;
	opacity: 1;
	animation: moveGradient 10s linear infinite;
}

@property --a {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

@keyframes moveGradient {
	0% {
		--a: 0deg;
	}
	100% {
		--a: 360deg;
	}
}
